{% extends "pizzas/base.html" %}

{% block header %}
    <h2>{{ pizza }} Pizza - check out our awesome toppings!</h2>
{% endblock header %}

{% block content %}
    {% for topping in toppings %}
        <div class="panel panel-default">
            <div class="panel-body">
               {{ topping.topping_name|linebreaks }}
            </div>
        </div> <!-- panel -->
    {% endfor %}
    <p>
        {% load static %} <img src="{% static 'pizzas/media/' %}{{pizza}}.jpg"  alt= {{ pizza }} />
    </p>
{% endblock content %}